<h1>
    <%= title %>
</h1>
<%- messages() %>

<h2>Welcome <%= locals.accountData.account_firstname %>!</h2>
<p>You're logged in</p>

<p><a href="/account/update">Update my account information</a></p>

<% if (locals.accountData.account_type === "Employee" || locals.accountData.account_type === "Admin") { %>
    <h2>Inventory Management</h2>
    <p><a href="/inv/">Go to Inventory Management</a></p>
<% } %>


