<section class="hero">
    <h1>Welcome to CSE Motors!</h1>
    <div class="hero-car">
        <ul>
            <li class="title-car">DMC Delorean</li>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <button>Own Today</button>
    </div>

</section>
<div class="info">
    <div class="row row-info">


        <section class="upgrades">
            <h2>Delorean Upgrades</h2>
            <div class="row">
                <div class="upgraded-cars">

                    <div>
                        <img src="../images/upgrades/flux-cap.png" alt="flux capacitor">

                    </div>
                    <span><a href="">Flux Capacitor</a></span>


                </div>
                <div class="upgraded-cars">
                    <div>
                        <img src="../images/upgrades/flame.jpg" alt="Flame Decals">
                    </div>
                    <span><a href="">Flame Decals</a></span>
                </div>
                <div class="upgraded-cars">
                    <div>
                        <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    </div>
                    <span><a href="">Bumper Stickers</a></span>
                </div>
                <div class="upgraded-cars">
                    <div>
                        <img src="../images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    </div>
                    <span><a href="">Hub Caps</a></span>
                </div>
            </div>

        </section>
        <section class="reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast its almost like traveling in time".(4/5)</li>
                <li>"Coolest ride on the road"(4/5)</li>
                <li>"I'm feeling Marty Mcfly!(5/5)"</li>
                <li>"The most futuristic ride of our day". (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </section>
    </div>

</div>