*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* overflow: hidden; */
}

/* Navigation */
header,
.hero {
    padding: 0.2rem 0;
}

header a {
    float: right;
    padding: 2rem;
    color: #3a3a3a;
    text-decoration: none;

}

a {
    color: #4c96d7;
}

nav {
    background-color: #3a3a3a;
}

nav ul {
    list-style: none;
    margin: 0;
    background-color: #3a3a3a;
    display: flex;
    justify-content: flex-start;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #ffffff;
}

#main-container {
    margin: 0;

}

/* ---- */

/* Home */
.hero {
    background-image: url(/phpmotors/images/delorean.jpg);
    color: #4c96d7;
    font-size: 18px;
    height: 550px;
    background-repeat: no-repeat;
    background-position: 67px 90px;
}

.hero .title-car {
    font-weight: 600;
}

.hero h1 {

    color: #3a3a3a;

}

.hero button {
    border: 1px solid #3a3a3a;
    color: #3a3a3a;
    background-color: #4c96d7;
    padding: 12px 24px;
    font-weight: 500;
    position: relative;
    left: 48px;
    top: 5px;

}

.hero ul {
    padding: 0;
    list-style: none;
}


/* -- -- */

.info {
    /* display: grid; */
    /* grid-template: 1fr/repeat(2, 1fr); */
    padding: 0 15px;
}

.row {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Upgraded section */
.upgraded-cars {
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
}

.upgraded-cars div {
    background-color: #4c96d7;
    height: 95px;
    padding: 0.2rem 0;
    margin: 0.2rem;
    border: 1px solid black;
}

hr {
    border: 2px solid #3a3a3a;
    background: #3a3a3a;
}

/* -- -- */
footer {
    text-align: center;
}

/* Registration */

.registration {
    max-width: 400px;
    margin: 0 auto;
}

.registration h2 {
    text-align: center;
}

.contain {
    padding: 1rem 0;
}

input[type=text],
select,
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #45a049;
}


/* Vehicles */
.formvehicles {
    max-width: 400px;
    margin: 0 auto;
}

.container {
    padding: 1rem;
}






@media only screen and (min-width: 32.5em) {
    body {
        background-image: url(/phpmotors/images/site/checkerboard.jpg);

    }

    .hero-car {
        position: relative;
        left: 48px;
        top: 5px;
    }


    #main-container {
        margin: 4rem 12rem;
        border: 5px solid #4c96d7;
        background-color: #ffffff;
    }

    .upgrades {
        -webkit-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width:600px) {
    .hero {
        background-size: 229px!important;
        background-position: right;
    }

    nav ul {
        padding: 0.5rem 0;
        /* padding: 0;
        flex-flow: column wrap; */
        /* display: block; */
        text-align: center;
    }

    nav ul li a {
        padding: 10px;
        text-align: center;
    }

    .hero {
        padding: 0.2rem;
        background-size: 335px;
        height: 343px;
    }

    .hero button {
        top: 56px;
        left: 0;
        margin: 0 auto;
        display: block;
    }

    .info .row-info {
        display: flex;
        flex-direction: column-reverse;
    }

    .row-info .reviews ul li {
        padding-bottom: 1rem;
    }

    footer {
        padding: 1rem;
    }
}