/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

@media(max-width:600px) {


  nav ul {
      padding: 0.5rem 0;
      /* padding: 0;
      flex-flow: column wrap; */
      /* display: block; */
      text-align: center;
  }

  nav ul li a {
      padding: 10px;
      text-align: center;
  }
}