/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

@media only screen and (min-width: 32.5em) {
  body {
    background-image: url(../images/site/checkerboard.jpg);
  }

  .hero-car {
    position: relative;
    left: 48px;
    top: 5px;
  }

  #main-container {
    margin: 4rem 12rem;
    border: 5px solid #2e70db;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 20px;
  }

  .upgrades {
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  main {
    padding: 1rem;
  }
  header {
    padding: 0;
  }

  .hero {
    background-position: 138px 107px !important;
  }

  nav ul {
    padding: 0.5rem 0;
    /* padding: 0;
      flex-flow: column wrap; */
    /* display: block; */
    text-align: center;
  }

  nav ul li a {
    padding: 10px;
    text-align: center;
  }

  .hero {
    padding: 0.2rem;
    background-size: 335px;
    height: 260px !important;
  }

  .hero button {
    display: block;
  }

  .info .row-info {
    display: flex;
    flex-direction: column-reverse;
  }

  .row-info .reviews ul li {
    padding-bottom: 1rem;
  }

  footer {
    padding: 1rem;
  }
}
body {
  margin: 0;
  padding: 0;
}

/* Navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

header,
.hero {
  padding: 0.2rem 0;
}

header a {
  float: right;
  padding: 2rem;
  color: #3a3a3a;
  text-decoration: none;
}

a {
  color: #2e70db;
}

nav {
  background-color: #3a3a3a;
}

nav ul {
  list-style: none;
  margin: 0;
  background-color: #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.2rem;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #ffffff;
}

/* Home */
.hero {
  background-image: url(../images/vehicles/delorean.jpg);
  color: #2e70db;
  font-size: 18px;
  height: 370px;
  background-repeat: no-repeat;
  background-position: 300px 90px;
}

.hero .title-car {
  font-weight: 600;
}

.hero h1 {
  color: #3a3a3a;
}

.hero button {
  border: 1px solid #3a3a3a;
  color: #fff;
  background-color: #2e70db;
  padding: 12px 24px;
  font-weight: 500;
}
.hero ul {
  padding: 0;
  list-style: none;
}

/* Upgraded section */
.upgraded-cars {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
}

.upgraded-cars div {
  background-color: #2e70db;
  height: 95px;
  padding: 0.2rem 0;
  margin: 0.2rem;
  border: 1px solid black;
}

/* -- -- */
footer {
  text-align: center;
}
@media (max-width: 600px) {
  nav ul {
    padding: 0.5rem 0;
    /* padding: 0;
      flex-flow: column wrap; */
    /* display: block; */
    text-align: center;
  }

  nav ul li a {
    padding: 10px;
    text-align: center;
  }
}

input[type="text"],
select,
textarea,
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"] {
  width: 100%;
  background-color: #204F20;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #204F20;
}

.row {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
hr {
  border: 2px solid #3a3a3a;
  background: #3a3a3a;
}

/* .hero button {
  top: 56px;
  left: 0;
  margin: 0 auto;
  display: block;
} */

.row-info .reviews ul li {
  padding-bottom: 1rem;
}
/* Inventory */

.vehicle-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
.vehicle-grid .vehicle-card .vehicle-title {
  text-align: center;
}

.vehicle-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
}

.vehicle-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.vehicle-info {
  padding: 15px;
  text-align: center;
}

.vehicle-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.vehicle-price {
  font-size: 16px;
  color: #3a3a3a;
  font-weight: normal;
}

.notice {
  color: #A84343;
  text-align: center;
  font-size: 18px;
}

.form-register ul.notice {
  margin: 0;
  list-style: none;
  text-align: left;
  font-size: 16px!important;
}
/*  */

/* Vehicle Detail */
/* Aseguramos que el contenedor solo afecte al detalle del vehículo */
.vehicle-detail-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9; /* Fondo ligero */
}

.vehicle-detail-container .vehicle-left-column {
  flex: 1;
  padding-right: 20px;
  text-align: left;
}

.vehicle-detail-container .vehicle-right-column {
  flex: 1;
  padding-left: 20px;
}

.vehicle-detail-container .vehicle-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.vehicle-detail-container .vehicle-detail-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vehicle-detail-container .vehicle-info {
  margin-top: 20px;
  text-align: left;
}

.vehicle-detail-container .vehicle-info p {
  font-size: 1.1em;
  line-height: 1.5;
}

.vehicle-detail-container .vehicle-info strong {
  font-weight: bold;
}

.vehicle-detail-container .back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
}

.vehicle-detail-container .back-button:hover {
  background-color: #0056b3;
}

/* Media Query para dispositivos móviles */
@media screen and (max-width: 768px) {
  .vehicle-detail-container {
    display: block;
    padding: 10px;
  }
  .vehicle-detail-container .vehicle-title {
    font-size: 20px;
  }
  .vehicle-detail-container .vehicle-left-column,
  .vehicle-detail-container .vehicle-right-column {
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .vehicle-detail-container .vehicle-info p {
    font-size: 1em;
  }

  .vehicle-detail-container .vehicle-detail-image {
    max-width: 90%; /* Ajuste de imagen en móviles */
    display: block;
  }
}
/*  */

.error-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

/* Login form container */
.form-login {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin: 2rem auto;
}

/* Form styles */
.form-login form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-login label {
  font-weight: bold;
  margin-top: 10px;
}

/* Asegurar que el input de contraseña no afecte otros elementos */
.form-login input[type="email"],
.form-login input[type="password"] {
  width: 100%;
  box-sizing: border-box; /* Evita que el padding afecte el tamaño total */
  padding: 8px;
  margin-top: 5px;
}

.form-login button {
  background: #2e70db;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para la regla de la contraseña */
.form-login .password-rules {
  font-size: 0.9rem;
  color: #555;
  margin-top: 8px;
  font-style: italic;
}

/* Estilos para el checkbox de "Show Password" */
.form-login .show-password {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  margin-top: 0px !important;
}

.form-login .show-password input {
  cursor: pointer;
}

/* Form Register */

/* Registro form container */
.form-register {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  margin: 2rem auto;
}

.form-register h1 {
  text-align: center;
}
/* Form styles */
.form-register form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-register label {
  font-weight: bold;
  margin-top: 10px;
}

/* Estilo para inputs y select */
.form-register input[type="text"],
.form-register input[type="email"],
.form-register input[type="password"],
.form-register input[type="number"],
.form-register select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Botón de enviar */
.form-register input[type="submit"],
.form-register button[type="submit"] {
  width: 100%;
  background-color: #2e70db;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-register input[type="submit"]:hover,
.form-register button[type="submit"]:hover {
  background-color: #204F20;
}

.form-register .password-rules {
  font-size: 0.9rem;
  color: #555;
  margin-top: 8px;
  font-style: italic;
}

input:required:invalid,
input:focus:invalid {
  background-image: url(/images/invalid.png);
  background-position: right top;
  background-repeat: no-repeat;
}
input:required:valid {
  background-image: url(/images/valid.png);
  background-position: right top;
  background-repeat: no-repeat;
}

input:required:invalid,
input:focus:invalid {
  background-image: url(/images/invalid.png);
  background-position: right top;
  background-repeat: no-repeat;
}
input:required:valid {
  background-image: url(/images/valid.png);
  background-position: right top;
  background-repeat: no-repeat;
}

.flash-message {
  color: #A84343 !important;
  font-weight: 400;
}

.classification-form{
  max-width: 400px;
  
}
.inventory-form, .updateForm{
  max-width: 400px;
}


.inventory-form input:focus:invalid,
.inventory-form textarea:focus:invalid {
  background-color: #ffcccc; /* Rojo */
  border: 2px solid red;
}


.inventory-form input:valid,
.inventory-form textarea:valid {
  background-color: #ccffcc; /* Verde */
}
