<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <script>
      window.location.href = "/";
  </script>
<% } %>

<% errors = (typeof errors !== 'undefined' && errors !== null) ? errors : [] %>
<% if (errors.length > 0) { %>
  <ul class="notice">
      <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
      <% }) %>
  </ul>
<% } %>
<form class="classification-form" action="/inv/add-classification" method="POST">
  <label for="classification_name">Classification Name:</label>
  <p>Name must be alphabetic characters only and contain no spaces.</p>
  <input type="text" id="classification_name" name="classification_name" 
         required maxlength="15" pattern="\S{1,15}" 
         title="Must be 1-15 characters long with no spaces">

  <button type="submit">Add Classification</button>
</form>
