<div class="management-form">
  <h1>
    <%= title %>
  </h1>

  <ul>
    <%- messages() %>
      <li><a href="/inv/add-classification">Add New Classification</a></li>
      <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
  </ul>
  <h2>Manage Inventory</h2>
  <br>
  <p>Please select a classification to manage inventory items.</p>
  <br>
  <%- locals.classificationList %>
    <table id="inventoryDisplay"></table>
</div>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="/js/inventory.js"></script>